
html,body{
    height: 100%;
}



.div1{
    height: 100%;
    display: inline-block;
    width: 50%;
    background-color: aqua;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    
} 

div:last-of-type:hover{
    background-color: cadetblue;
    border-color: brown;
}


.div2{
    height: 100%;
    display: inline-block;
    width: 50%;
    background-color: aqua;
    padding: 10px 3px 10px 5px;
    margin: 50px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;

} 